.description {
    padding: 30px 0 30px 0;
    &__article {
        position: relative;
        display: flex;
        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
        &::before {
            content: url('../img/icon/svg/icon-doc.svg');
            position: absolute;
            right: 0;
            top: -10px;
            width: 46px;
            height: 20px;
        }
    }
    &__aside {
        max-width: 470px;
        flex: 0 1 auto;
    }
    &__figure {
        margin: 0;
    }
    &__img {
        display: block;
        height: max-content;
        width: 100%;
        object-fit: cover;
    }
    &__content {
        @include size(7);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 30px 30px 30px;
    }
    &__header {
        margin-bottom: 30px;
    }
    &__title {
        text-align: left;
    }
    &__text {
        p {
            margin: 20px 0;
            &:first-child {
                margin: 0 0 20px 0;
            }
        }
    }
    &__footer {
        margin: auto 15px 0 auto;
    }
}