.container {
	@include wrapper();
}

.container-full {
	@include wrapper-full();
}

/* .debug {
    position: relative;
    z-index: 9999;
	@include debug(rgba(0, 0, 0, 0.3), 1px solid rgb(19, 138, 92));
} */

.bg-color {
    &_primary {
        background-color: var(--color-primary);
    }
    &_white {
        background-color: var(--color-white);
    }
    &_dark {
        background-color: var(--color-dark);
    }
    &_gray {
        background-color: var(--color-gray);
    }
    &_dark-gray {
        background-color: var(--color-dark-gray);
    }
}

.title {
    font-family: var(--font-gotham);
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
    margin: 0;
    &_big {
        font-size: 26px;
    }
    &_medium {
        font-size: 20px;
    }
    &_color {
        &_primary {
            color: var(--color-primary);
        }
        &_dark {
           color: var(--color-dark); 
        }
        &_white {
            color: var(--color-white);
        }
    }
    &_weight {
        &_light {
            font-weight: normal;
        }
    }
}

.title-second {
    font-family: var(--font-roboto);
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 100%;
    color: var(--color-primary);
    margin: 0;
}

.text {
    font-family: var(--font-roboto);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
    &_color {
        &_primary {
            color: var(--color-primary);
        }
        &_dark {
            color: var(--color-dark); 
        }
        &_white {
            color: var(--color-white);
        } 
    }
}