:root {
    --color-primary: #FD6B50;
    --color-dark: #595959;
    --color-gray: #F5F5F5;
    --color-white: #FFFFFF;
    --font-roboto: 'Roboto', sans-serif;
    --font-gotham: 'GothamPro', sans-serif;
}