:root {
    --main-color: #FD6B50;
    --dark-color: #595959;
    --gray-color: #F5F5F5;
    --white-color: #FFFFFF;
    --font-roboto: 'Roboto', sans-serif;
    --font-gotham: 'GothamPro', sans-serif;
}