.header {
    padding: 20px 0;
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        & .logo__img {
            height: 20px;
        }
    }
    &_position_sticky {
        position: sticky;
        top: 0;
        z-index: 500;
    }
}